.contactable.well
  = render 'contactable/contact_data',
           contactable: group,
           postal: (group.contact.blank?),
           only_public: only_public

  - if group.contact
    %div.contact
      %br
      .muted
        %i.icon-user.icon-muted
        %strong= Group.human_attribute_name(:contact)
      = render 'contactable/contact_data',
               contactable: group,
               contact: group.contact,
               postal: false,
               only_public: true
